{% extends 'base.html' %}
{% load i18n %} 

{% block content %}
<a href="{% url 'create'%}" class="btn btn-primary">{% trans "Create new watermark image" %}</a>
{% if imagelist %}
<div class="row">
    {% for image in imagelist %}
    <div class="col-sm-6">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="{% url 'img' image.id %}" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">{{image}}</h5>
                <p class="card-text">{% trans "Postion" %}{{image.hpos_rel}} {{image.vpos_rel}}</p>
                <p class="card-text">{% trans "Created" %}{{image.created}}</p>
                <p class="card-text">{% trans "Modified" %}{{image.modified}}</p>
                <div class="btn-group" role="group" aria-label="Basic example">
                    <a class="btn btn-primary" role="button" href="{% url 'update' image.id %}">{% trans "update" %}</a>
                    <a class="btn btn-primary" role="button" href="{% url 'delete' image.id %}">{% trans "delete" %}</a>
                    <a class="btn btn-primary" role="button" href="{% url 'img' image.id %}" download>{% trans "Download" %}</a>
                </div>
            </div>
        </div>  
    </div>
    {% endfor %}
</div>
{% if page_obj.paginator.num_pages > 1 %}
<nav aria-label="Page navigation example">
    <ul class="pagination">
        {% if page_obj.has_previous %}
            <li class="page-item"><a class="page-link" href="?page=1">&laquo; first</a></li>
            <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a></li>
        {% endif %}

        <li class="page-item active">
            <a class="page-link" href="#">{{ page_obj.number }}</a>
        </li>

        {% if page_obj.has_next %}
            <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a></li>
            <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a></li>
        {% endif %}
    </ul>
</nav>
{% endif %}
{% else %}
    <p>{% trans "No images are available." %}</p>
{% endif %}

{% endblock %}